<h2>Add Categories</h2>
<hr>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        {{forms[0].hidden_tag()}}
        {{forms[0].Type.label}}
        <span> *</span>
        <br>
        {{forms[0].Type(class="form-control")}}
        <br>
        {{forms[0].title.label}}
        <span class="text-danger"> *</span>
        <br>
        {{forms[0].title(placeholder="Enter Title", class="form-control")}}
        {% for error in forms[0].title.errors %}
            <div class=" alert alert-warning alert-dismissible show fade">
                {{error}}
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
            </div>
        {% endfor %}
        <br>
        {{forms[0].parent_cat.label}}
        <span class="text-danger"> *</span>
        <br>
        {{forms[0].parent_cat(class="form-control")}}
        <br>
        {{forms[0].description.label}}
        <br>
        {{forms[0].description(placeholder="Write a short description", rows="6", class="form-control")}}
        {% for error in forms[0].description.errors %}
            <div class="alert alert-warning alert-dismissible show fade">
                {{error}}
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
            </div>
        {% endfor %}
        <br>
        {{forms[0].image.label}}
        <br>
        {{forms[0].image(class="form-control-file")}}
        <br>
        {{forms[0].status.label}}
        <br>
        {% for subfield in forms[0].status %}
            {{subfield}}
            {{subfield.label}}&nbsp;
        {% endfor %}
        <br>
        {{forms[0].submit(class="btn btn-primary")}}
    </div>
</form>