<h2>All Categories</h2>
<hr>
<div class="row">
    <div class=" col-11"></div>
    <div class=" col-1">
        <button type="button" id="add_cat_btn" class="btn btn-primary float-right">Add</button>
    </div>
</div>
<div class="row mt-3">
    <div class=" col-10"></div>
    <div class="col-2">
        <form method="GET" class="form-group form-inline">
            <label for="cat_search" class="ml-auto">Search:</label>&nbsp;
            <input type="text" id="cat_search" name="cat_search" class="form-control ml-auto">
        </form>
    </div>
</div>
<table class="table table-striped table-bordered text-white">
    <tr>
        <th style="width: 8%;">Cat ID</th>
        <th style="width: 13%;">Type</th>
        <th style="width: 13%;">Title</th>
        <th style="width: 13%;">Parent Category</th>
        <th style="width: 8%;">Image</th>
        <th style="width: 29%;">Description</th>
        <th style="width: 8%;">Status</th>
        <th style="width: 8%;">Action</th>
    </tr>
    {% if categories %}
        {% for category in categories %}
            <tr>
                <td style="width: 8%;">{{category.id}}</td>
                <td style="width: 13%;">{{category.type}}</td>
                <td style="width: 13%;">{{category.title}}</td>
                <td style="width: 13%;">{{category.parent_cat}}</td>
                <td style="width: 8%;">
                    <img src="{{url_for('static', filename='img/category_img/' + category.image)}}" class="img-responsive" width="40%" height="5%">
                </td>
                <td style="width: 29%;">{{category.description}}</td>
                <td style="width: 8%;">{{category.status}}</td>
                <td style="width: 8%;">Action</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td style="width: 8%;">No categories found!</td>
        </tr>
    {% endif %}
</table>
