<h2>Today Orders</h2>
<hr>
<div class="row">
    <div class="col-1">
        <form method="GET" class="form-group form-inline">
            <div class="row pl-3">
                    <label>Show</label>&nbsp;
                    <select name="entries" class="form-control">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>&nbsp;
                    <label>entries</label>
            </div>
        </form>
    </div>
    <div class="col-9"></div>
    <div class="col-2">
        <form method="GET" class="form-group form-inline">
            <label class="ml-auto">Search</label>
            <input type="text" class=" form-control ml-auto">
        </form>
    </div>
</div>
<table class="table table-striped table-bordered text-white">
    <tr>
        <th style="width: 9.16%;">Order ID</th>
        <th style="width: 9.16%;">Date</th>
        <th style="width: 9.16%;">Address</th>
        <th style="width: 15%;">Total Items</th>
        <th style="width: 15%;">Total Amount</th>
        <th style="width: 15%">Prescription Image</th>
        <th style="width: 9.16%;">Status</th>
        <th style="width: 9.16%;">Order Status</th>
        <th style="width: 9.16%;">Action</th>
    </tr>
    {% if today_orders %}
        {% for order in today_orders %}
            <tr>
                <td style="width: 9.16%;">order.id</td>
                <td style="width: 9.16%;">order.date</td>
                <td style="width: 9.16%;">order.address</td>
                <td style="width: 15%">order.total_items</td>
                <td style="width: 15%">order.total_amount</td>
                <td style="width: 15%">order.prescription_image</td>
                <td style="width: 9.16%;">order.status</td>
                <td style="width: 9.16%;">order.order_status</td>
                <td style="width: 9.16%;">order.action</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td style="width: 9.16%;">No orders found!</td>
        </tr>
    {% endif %}
</table>
<div class="row">
    <div class="col-2">
        <p class="text-white">Showing 0 of 0 entries</p>
    </div>
    <div class="col-9"></div>
    <div class="col-1">
        <button type="button" id="previous" class="btn btn-light ml-auto">Previous</button>
        <button type="button" id="next" class="btn btn-light ml-auto">Next</button>
    </div>
</div>
